<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Concession</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>

<div th:replace="index :: nav"></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/concessions/update/{id}(id=${concession.id})}" th:object="${concession}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Concession Name</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Concession Name"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Description </label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Opis"> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="category" class="col-form-label">Category </label> <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Category"> <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="stock" class="col-form-label">Stock </label> <input type="text" th:field="*{stock}" class="form-control" id="stock" placeholder="Stock"> <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="price" class="col-form-label">Price (RM)</label> <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Price"> <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="imageUrl" class="col-form-label">Update photo link </label> <input type="text" th:field="*{imageUrl}" class="form-control" id="imageUrl" placeholder="Update photo link"> <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update Concession">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>